<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <body class="container">

    <h1 th:text="${title} ">Default Title</h1>
<!--<h2 th:text="${cheese.name}"></h2>-->

<nav th:replace="fragments :: navigation"></nav>

<form action="/cheese/edit  " method="post" style="max-width:600px;">
    <div th:each="cheese : ${cheeses}" class="form-group">
        <label for="name-field">Name</label>
        <input class="form-control" id="name-field" type="text" th:value="${cheese.name}" name="name" />
    </div>
    <div th:each="cheese : ${cheeses}" class="form-group">
        <label for="desc-field">Description</label>
        <input class="form-control" id="desc-field" type="text" th:value="${cheese.description}" name="description" />
    </div>
    <input th:each="cheese : ${cheeses}" type="hidden" th:value="${cheese.cheeseId}" name="cheeseId" />
    <input type="submit" value="Edit Cheese" />
</form>

</body>
</html>